@import "variables";

.card {
  margin: 15px;
  &__content {
    background-color: $gray;
    text-align: center;
    padding: 30px 50px;
    border-radius: 30px;

    img { max-width: 100%; }

    @include breakpoint("small-up") { padding: 20px 40px }
  }
}
